
*.exe
*.dll
bin/Debug/DIWinForms.exe.config
bin/Debug/DIWinForms.pdb
bin/Debug/Microsoft.Bcl.AsyncInterfaces.xml
bin/Debug/Microsoft.Extensions.Configuration.Abstractions.xml
bin/Debug/Microsoft.Extensions.Configuration.Binder.xml
bin/Debug/Microsoft.Extensions.Configuration.CommandLine.xml
bin/Debug/Microsoft.Extensions.Configuration.EnvironmentVariables.xml
bin/Debug/Microsoft.Extensions.Configuration.FileExtensions.xml
bin/Debug/Microsoft.Extensions.Configuration.Json.xml
bin/Debug/Microsoft.Extensions.Configuration.UserSecrets.xml
bin/Debug/Microsoft.Extensions.Configuration.xml
bin/Debug/Microsoft.Extensions.DependencyInjection.Abstractions.xml
bin/Debug/Microsoft.Extensions.DependencyInjection.xml
bin/Debug/Microsoft.Extensions.FileProviders.Abstractions.xml
bin/Debug/Microsoft.Extensions.FileProviders.Physical.xml
bin/Debug/Microsoft.Extensions.FileSystemGlobbing.xml
bin/Debug/Microsoft.Extensions.Hosting.Abstractions.xml
bin/Debug/Microsoft.Extensions.Hosting.xml
bin/Debug/Microsoft.Extensions.Logging.Abstractions.xml
bin/Debug/Microsoft.Extensions.Logging.Configuration.xml
bin/Debug/Microsoft.Extensions.Logging.Console.xml
bin/Debug/Microsoft.Extensions.Logging.Debug.xml
bin/Debug/Microsoft.Extensions.Logging.EventLog.xml
bin/Debug/Microsoft.Extensions.Logging.EventSource.xml
bin/Debug/Microsoft.Extensions.Logging.xml
bin/Debug/Microsoft.Extensions.Options.ConfigurationExtensions.xml
bin/Debug/Microsoft.Extensions.Options.xml
bin/Debug/Microsoft.Extensions.Primitives.xml
bin/Debug/System.Buffers.xml
bin/Debug/System.Diagnostics.DiagnosticSource.xml
bin/Debug/System.Memory.xml
bin/Debug/System.Numerics.Vectors.xml
bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
bin/Debug/System.Text.Encodings.Web.xml
bin/Debug/System.Text.Json.xml
bin/Debug/System.Threading.Tasks.Extensions.xml
bin/Debug/System.ValueTuple.xml
obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DIWinForms.csproj.AssemblyReference.cache
obj/Debug/DIWinForms.csproj.CopyComplete
obj/Debug/DIWinForms.csproj.CoreCompileInputs.cache
obj/Debug/DIWinForms.csproj.FileListAbsolute.txt
obj/Debug/DIWinForms.csproj.GenerateResource.cache
obj/Debug/DIWinForms.pdb
obj/Debug/DIWinForms.Properties.Resources.resources
